git_status
Repos/curl/d/
Repos/curl/.src/
Repos/*/src/
/Repos/Nix/nix/src/
#No Proper Builds yet
/Repos/librsvg/
/Repos/glslang-git/
/Repos/linux/keys/*
/makepkg/*/FETCH_HEAD
/makepkg/*/HEAD
/makepkg/*/config
/makepkg/*/description
/makepkg/*/info
/makepkg/*/objects
/makepkg/*/packed-refs
/makepkg/*/refs
